<h1><%= t('.h1') %></h1>

<%= render "form", account_transaction: @account_transaction, presenter: @presenter, account_id: @accoun_id %>

<br>

<div>
  <%= link_to t('.show_transactions'), account_account_transactions_path %>
</div>
